**/__pycache__
data/wesad*
data/stress_in_nurses_merged.csv
data/stress_in_nurses.csv
data/HAR/
data/HAR.csv
data/harth.csv
data/WISDM/
data/wisdm.csv
latest_log_dir
latest_log_file
*.log
**/logs/
**/.ipynp_checkpoints/

# files left my Design Compiler
**/extracted_model_constr.pt
**/TOP.mr
**/command.log
**/default.svf
**/filenames*log
**/pt_shell_command.log
**/top-verilog*
**/Synopsys*
**/crte*
**/.nfs*
**/ucli.key
**/verdi_config_file
**/verdILog
**/lc_output.txt

# unecessary folders
**/alib-52/
**/sim/
**/csrc/
**/work/
**/work_gate/
**/hdl/
**/gate/
**/reports/
hw_eval/test/

**/inputs.txt
**/output.txt

# libraries / library interm objects
libs/*.so
libs/*.o
libs/asap7/lib/
tech_lib/
**/gate_simv.daidir/
**/rtl_simv.daidir/
**/gate_simv
**/rtl_simv
**/work_lib/
**/work_gate_lib/
**/synopsys_sim.setup


saved_logs/**/data/
saved_logs/**/classifiers/
